.form__fieldset {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  max-width: 385px;
  border-style: none;
}

.form__label {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 8px;
}

.form__input {
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  margin: auto;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

.form__input::placeholder {
  padding-top: 15px;
  padding-left: 20px;
}

.form__button-submit:enabled {
  border-radius: 4px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  line-height: 20px;
  width: 100%;
  height: 60px;
  margin-bottom: 32px;
  background-color: #2f80ed;
  cursor: pointer;
}

.form__button-submit:hover:enabled {
  opacity: 0.7;
}

.form__checkbox {
  border-radius: 2px;
  display: flex;
  justify-content: center;
  gap: 12px;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

input[type="datetime-local"] {
  padding-top: 15px;
  padding-left: 20px;
}
